@model FX5u_Web_HMI_App.Pages.PointTableModelBase

<table class="data-table">
    <thead>
        <tr>
            <th style="width: 150px;"></th>
            <th>Table No:</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row-label">POSITION</td>
            <td><input type="number" id="PositionWrite1" /></td>
        </tr>
        <tr>
            <td class="row-label">SPEED</td>
            <td><input type="number" id="SpeedWrite1" /></td>
        </tr>
        <tr>
            <td class="row-label">ACC</td>
            <td><input type="number" id="AccWrite1" /></td>
        </tr>
        <tr>
            <td class="row-label">DECC</td>
            <td><input type="number" id="DeccWrite1" /></td>
        </tr>
        <tr>
            <td class="row-label">DWELL TIME</td>
            <td><input type="number" id="DwellTimeWrite1" /></td>

        </tr>
        <tr>
            <td class="row-label">AUX. FUN.</td>
            <td><input type="number" id="AuxWrite1" /></td>

        </tr>
        <tr>
            <td class="row-label">M - CODE</td>
            <td><input type="number" id="MWrite1" /></td>
 
        </tr>
    </tbody>
</table>
